VITE_NODE_ENV=development
VITE_APP_URL=http://localhost:3000
VITE_DEVELOPMENT_API=http://localhost:9002
VITE_PRODUCTION_API=https://your-netlify-site.netlify.app
VITE_DEVELOPMENT_BASE_URL=http://localhost:9002
VITE_PRODUCTION_BASE_URL=https://your-netlify-site.netlify.app
